.header {
    overflow: hidden;
    background-color:#f1f1f1 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}


.header p {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
}

.header p:hover {
    cursor: pointer;
}

.header p.active {
    background-color: darkgray;
}


.header p.logo {
    font-size: 25px;
    font-weight: bold;
    color: #282c34;
}
input {
    border-radius: 7px;
    height: 25px;
    padding-left: 7px;
    font-size: 16px;
    width: 400px;
    border: none;
}

 input:focus{
     outline: none;
     border: 0.1px solid darkgray;
}


.header-right {
    display: flex;
    gap: 50px;
    margin-right: 20px;
}



.icon:hover {
    background-color: unset;
    cursor: text;

}


.search {
    position: relative;
    width: 400px;
    display: flex;
    align-items: center;

}

.search .MuiIconButton-root {
    position: absolute;
    right: -10px;

}

.search .MuiSvgIcon-root {
    width: 1em;
    height: 1em;


}

.search .MuiIconButton-label {
    background-color: darkgray;
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    border-radius: 7px;
}

.search svg {
    width: 1em;
    height: 1em;
}
@media screen and (max-width: 992px) {
    .header p {
    font-size: 16px;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    .header p.logo {
        font-size: 20px;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    input {
        font-size: 12px;
    }
   form label {
        font-size: 15px;
    }

}



